<ul>
    <li><a href="/admin/{{userAdmin}}/clients">List of Clients</a></li>
    <li><a href="/admin/{{userAdmin}}/products">List of Products</a></li>
    <li><a href="/admin/{{userAdmin}}/addProduct">Add a Product</a></li>
    <li><a href="/admin/{{userAdmin}}/orders">List of Orders</a></li>
    <li><a href="/admin/{{userAdmin}}/search">Search</a></li>
</ul>
<div style="margin-left:11%;padding:1px 16px;height:auto;">
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Order Date</th>
                <th>Order Status</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each data}}
                <tr>
                    <td>{{this.productName}}</td>
                    <td><b>$</b>{{this.productPrice}}</td>
                    <td>{{this.orderDate}}</td>
                    <td>{{this.orderStatus}}</td>
                    <td><a class="btn btn-info" href="/viewStatus/{{this.admin_id}}/{{this.orderID}}">View</a></td>
                    <td><a class="btn btn-success" href="/ready/{{this.admin_id}}/{{this.orderID}}">Ready</a></td>
                    <td><a class="btn btn-danger" href="/notReady/{{this.admin_id}}/{{this.orderID}}">Not Ready</a></td>
                </tr>
            {{/each}}
            </tbody>
            <tfooter>
            </tfooter>
        </table>
    </div>
</div>
