<div class="flex-container" style="width: 75%">
    <div><img src={{data.imageURL}}></div>
    <div style="text-align: left;" class="viewProduct">
        <table>
            <thead></thead>
            <tbody>
                <tr><td><b>{{data.productName}}</b></td></tr>
                <tr><td><b><em>Category: </em></b>{{data.category}}</td></tr>
                <tr><td><b><em>Price: </em></b><b>$</b>{{data.price}}</td></tr>
                <tr><td>{{data.description}}</td></tr>
                <tr><td><em>Only </em><b>{{data.quantity}}</b><em> left </em></td></tr>
            </tbody>
            <tfooter>
            </tfooter>
        </table>
    </div>
</div>