<ul>
    <li><a href="/admin/{{data}}/clients">List of Clients</a></li>
    <li><a href="/admin/{{data}}/products">List of Products</a></li>
    <li><a href="/admin/{{data}}/addProduct">Add a Product</a></li>
    <li><a href="/admin/{{data}}/orders">List of Orders</a></li>
    <li><a href="/admin/{{data}}/search">Search</a></li>
</ul>

<div class="flex-container" style="padding: 60px 0px;">
    <div>
        <img src="/images/customers.png" alt="customers"><br/>
        <b><a href="/admin/{{data}}/searchAdminClients">Clients</a></b>
    </div>
    <div>
        <img src="/images/products.png" alt="products"><br/><br/>
        <b><a href="/admin/{{data}}/searchAdminProducts">Products</a></b>
    </div>
    <div>
        <img src="/images/orders.png" alt="orders"><br/><br/><br/>
        <b><a href="/admin/{{data}}/searchAdminOrders">Orders</a></b>
    </div>

</div>
